apiVersion: apps/v1
kind: Deployment
metadata:
  name: correspondenceprocessor
  namespace: fac
spec:
  selector:
    matchLabels:
      app: correspondenceprocessor
  replicas: 1
  template:
    metadata:
      labels:
        app: correspondenceprocessor
    spec:
      containers:
        - name: correspondenceprocessor-pod
          image: vsimone67/correspondenceprocessor:latest
          imagePullPolicy: 'Always'
          ports:
            - name: http
              containerPort: 80
          env:
            - name: 'appdirectory'
              value: '/app/settings/'
          volumeMounts:
            - name: configs
              mountPath: '/app/settings'
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 360
      volumes:
        - name: configs
          projected:
            sources:
              - configMap:
                  name: appsettings-correspondenceprocessor
              - secret:
                  name: appsettings-secret-correspondenceprocessor
---
apiVersion: v1
kind: Service
metadata:
  name: correspondenceprocessor-svc
  namespace: fac
spec:
  ports:
    - name: web
      port: 80
  selector:
    app: correspondenceprocessor
---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: correspondenceprocessor-route
  namespace: fac
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/correspondence/{catchall}`)
      kind: Rule
      services:
        - name: correspondenceprocessor-svc
          port: 80
    - match: PathPrefix(`/correspondenceprocessor/health`)
      kind: Rule
      services:
        - name: correspondenceprocessor-svc
          port: 80
      middlewares:
        - name: st-healthcheck
    - match: PathPrefix(`/correspondenceprocessor/metrics`)
      kind: Rule
      services:
        - name: correspondenceprocessor-svc
          port: 80
      middlewares:
        - name: st-metrics
