/* .nav-header {
  height: 7vh;
  background: linear-gradient(#00304c, #168b9f);
}

.nav-text-color {
  color: white;
  background-color: white;
}

.menu:not(.profile-menu) .navigation-item-link {
  color: white;
  white-space: nowrap;
} */
