@inherits LayoutComponentBase

<div class="nav-header">
    <NavMenu />
</div>
<div class="container-fluid content-data p-0">
    <ToastComponent />
    @* <loading></loading>
        <breadcrumb></breadcrumb> *@
    @Body
</div>
