@page "/"

<Row>
    <Column Margin="Margin.Is4.OnY">
        <Card Margin="Margin.Is4.OnX">
            <CardHeader>
                <CardTitle>
                    <div>Index</div>
                </CardTitle>
            </CardHeader>
            <CardBody>

                <h1>Hello, world!</h1>

                Hello From Index Page
            </CardBody>

        </Card>
    </Column>
</Row>
