<div class="breadcrumb-background">
    @foreach (var item in _items)
    {
        <RadzenLink class="text-decoration-none"
                    Path="@item.Uri"
                    Text="@item.Name"
                    Icon="@item.Icon" />
    }
</div>
