apiVersion: apps/v1
kind: Deployment
metadata:
  name: casesprocessor
  namespace: fac
spec:
  selector:
    matchLabels:
      app: casesprocessor
  replicas: 1
  template:
    metadata:
      labels:
        app: casesprocessor
    spec:
      containers:
        - name: casesprocessor-pod
          image: vsimone67/casesprocessor:latest
          imagePullPolicy: 'Always'
          ports:
            - name: http
              containerPort: 80
          env:
            - name: 'appdirectory'
              value: '/app/settings/'
          volumeMounts:
            - name: configs
              mountPath: '/app/settings'
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 360
      volumes:
        - name: configs
          projected:
            sources:
              - configMap:
                  name: appsettings-casesprocessor
              - secret:
                  name: appsettings-secret-casesprocessor
---
apiVersion: v1
kind: Service
metadata:
  name: casesprocessor-svc
  namespace: fac
spec:
  ports:
    - name: web
      port: 80
  selector:
    app: casesprocessor
---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: casesprocessor-route
  namespace: fac
spec:
  entryPoints:
    - web
  routes:   
    - match: PathPrefix(`/casesprocessor/health`)
      kind: Rule
      services:
        - name: casesprocessor-svc
          port: 80
      middlewares:
        - name: st-healthcheck
    - match: PathPrefix(`/casesprocessor/metrics`)
      kind: Rule
      services:
        - name: casesprocessor-svc
          port: 80
      middlewares:
        - name: st-metrics
